@import url('https://fonts.googleapis.com/css?family=Merriweather|Pacifico&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Merriweather', serif;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.logo{
  font-family: 'Pacifico', cursive;
}
.aboutbox {
  background-image: linear-gradient(0deg, #5f52c0, #8b66e2);
  color: #fff;
}

